<!-- page Navigation -->
<nav class="navbar custom-navbar navbar-expand-md navbar-light fixed-top" data-spy="affix" data-offset-top="10">
    <div class="container">
        <a class="navbar-brand" href="{{ path('index') }}">
            <img src="assets/imgs/logo.svg" alt="">
        </a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">                     
                <li class="{{ (app.request.attributes.get('_route') == 'about')  ? 'active': ''}} lien">
                    <a class="nav-link" href="{{ path('about') }}"></i> About</a></li>
                </li>
                <li class="{{ (app.request.attributes.get('_route') == 'portfolio')  ? 'active': ''}} lien">
                    <a class="nav-link" href="{{ path('portfolio') }}"></i> Portfolio</a></li>
                </li>
                <li class="{{ (app.request.attributes.get('_route') == 'blog')  ? 'active': ''}} lien">
                    <a class="nav-link" href="{{ path('blog') }}"></i> Blog</a></li>
                </li>
                <li class="{{ (app.request.attributes.get('_route') == 'contact')  ? 'active': ''}} lien">
                    <a class="nav-link" href="{{ path('contact') }}"></i> Contact</a></li>
                </li>
                <li class="{{ (app.request.attributes.get('_route') == 'components')  ? 'active': ''}} lien">
                    <a class="nav-link" href="{{ path('components') }}"></i> Components</a></li>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- End Of Second Navigation -->